<!--<!doctype html>
<html>
<head>
<title>{{ page.title }} - Capitalism Game</title>
{% for script in page.scripts %}
<script src="{{ script }}"></script>
{% endfor %}
{% for css in page.css %}
<link rel="stylesheet" type="text/css" href="{{ css }}">
{% endfor %}
<link rel="stylesheet" type="text/css" href="static/style.css">
<link rel="icon"		  type="image/x-icon" href="favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<link rel="shortcut icon" type="image/png"	href="static/logo.png" />
</head>
<body>
<div id="bg"></div>
<header>
<h1>Capitalism Game</h1>
</header>
<nav class="buttonlist">
{% for link in site.data.nav %}
<li{% if page.title == link.title %} class="selected"{% endif %}>
<a href="{{ link.url }}">{{ link.title }}</a></li>
{% endfor %}
</nav>
<main>
{{ content }}
</main>
</body>

</html>-->

<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="rubenwardy">
	<link rel="icon" href="favicon.ico">

	<title>{{ page.title }} - Capitalism Game</title>

	{% for script in page.scripts %}
		<script src="{{ script }}"></script>
	{% endfor %}

	{% for css in page.css %}
		<link rel="stylesheet" type="text/css" href="{{ css }}">
	{% endfor %}

	<link href="{{ page.root }}static/bootstrap.css" rel="stylesheet">
	<link href="{{ page.root }}static/style.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="{{ page.root }}">Capitalism Game</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav mr-auto">
					{% for link in site.data.nav %}
						<li class="nav-item {% if page.title == link.title %}active{% endif %}">
							<a class="nav-link" href="{{ page.root }}{{ link.url }}">
								{{ link.title }}

								{% if page.title == link.title %}
									<span class="sr-only">(current)</span>
								{% endif %}
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>

	<main role="main">
		{{ content }}
	</main>

	<footer id="footer">
		<div class="footer-copyright text-center py-3">
			©  {{ site.time | date: '%Y' }} rubenwardy
		</div>
	</footer>

	<script src="{{ page.root }}static/jquery.min.js"></script>
	<script src="{{ page.root }}static/popper.min.js"></script>
	<script src="{{ page.root }}static/bootstrap.min.js"></script>
</body>
</html>
